.badge {font-weight: $font-weight-medium;}
.badge.bg-secondary { color: $body-color;}
.badge.bg-info { color: $blue-600;}
.badge.bg-danger { color: rgb(179, 6, 61); background-color: #E9D0CD !important;}
.badge.bg-success { color: rgb(5, 105, 13); }
