// Pre-defaults
$spinner-animation-speed: 10s;
$card-white-shadow: 0 7px 14px 0 rgba(60,66,87, 0.12), 0 3px 6px 0 rgba(0,0,0, 0.12);
$primary: #5251f6;
$secondary: #ededf1;
$info: rgb(207, 245, 246);
$success: rgb(215, 247, 194);
$danger: rgb(179, 6, 61);
$font-size-base: .875rem; // 14px
$font-size-sm: .75rem; // 12px
$font-size-xs: .625rem; // 10px

$font-family-base: -apple-system,blinkmacsystemfont,san francisco,roboto,segoe ui,helvetica neue,sans-serif;
$body-color: #222838;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  txl: 1700px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  txl: 1620px
);

// Generally reminder
//300	Light - NOT USED CURRENTLY
//400	Normal (Regular)
//500	Medium
//600	Semi Bold (Demi Bold)
//700	Bold

$font-weight-medium: 500;
$font-weight-semibold: 600;
$btn-font-weight: $font-weight-semibold;
$form-label-font-weight: $font-weight-medium;
$input-btn-focus-width: 1px;
$input-btn-focus-blur: 0;
$headings-font-weight: $font-weight-semibold;
$display-font-sizes: (
  1: 2.6rem,
  2: 1.75rem,
  3: 1.6rem,
  4: 1.25rem,
  5: 1.125rem,
  6: 1.025rem
);
$display-font-weight: $font-weight-semibold;
$link-decoration: none;
$table-th-font-weight: normal;
$badge-font-size: 12px;
$navbar-light-toggler-border-color: transparent;
$navbar-dark-toggler-border-color: transparent;
$navbar-toggler-focus-width: 0;
$nav-link-padding-x: 0.625rem;
$nav-link-padding-y: 0.725rem;
$nav-link-color: #353c4d;
$nav-link-hover-color: #000;
$nav-tabs-border-radius: 0;
$btn-focus-box-shadow: none;
